.mod-txt-2colonnes{
    margin-top: 100px;
    margin-bottom: 90px;

}
.mod2text{
    margin-left: 129px;
}

.subtitle{
    width: 458px;
    color: #000000;
    font-weight: 700;
    font-style: italic;
    line-height: 44.04px; 
    font-size: 44px;
    line-height: 56.05px;
    /* Text style for "Au Boulot" */
}
.paragraph{
    width: 567px;
height: 212px;
color: #000000;
font-family: "PT Sans";
font-size: 16px;
font-weight: 400;
line-height: 22px;
}
.mod-bandeau__image img{
    /* Style for "background" */
width: 100%;
height: 404px;;
}
//Section mod-bandeau-txt-btn
.orange-over2 {
    top: 108%;
    bottom: -51.3%;
    left: -42%;
    right: 34%;
    transform: skew(35deg);
    z-index: 2;
    position: absolute;
    background-color: rgba(255,136,0,.85);
  }
.mod-bandeau__text{
    position: relative;
    z-index: 5;
    /* margin-bottom: 15rem; */
    bottom: 21rem;
    margin-left: 23rem;
}
.mod-bandeau__title{
/* Style for "Les règle" */
width: 302px;
height: 27px;
color: #ffffff;
font-family: "PT Sans";
font-size: 30px;
font-weight: 700;
line-height: 56.05px;
padding-bottom: 4rem;
}
.mod-bandeau__paragraph {
   width: 564px;
height: 167px;
color: #ffffff;
font-family: "PT Sans";
font-size: 16px;
font-weight: 400;
line-height: 22px;
}
.mod-bandeau__button{
    margin: 5rem;
    color: white;
    width: 249px;
    height: 60px;
    background-color: #000000;
} 
.mod-bandeau__button a{
    margin: 1.3%;
    color: #fff;
    text-align: center;
    align-items: center;
    position: absolute;
    padding-left: 3%;
} 
.mod-bandeau__button2{
    margin: 5rem;
    color: white;
    width: 345px;
    height: 60px;
    background-color: #000000;
} 
.mod-bandeau__button2 a{
    margin: 1.3%;
    color: #fff;
    text-align: center;
    align-items: center;
    position: absolute;
    padding-left: 4%;
} 
.mod-bandeau__button2 a::after{
content:'🠆';
    color: #fff;
    text-align: center;
    align-items: center;
    position: absolute;
    padding-left: 4%;
} 

  
.mod-bandeau__button a::after{
content:'🠆';
    color: #fff;
    text-align: center;
    align-items: center;
    position: absolute;
    padding-left: 4%;
} 
.slick-arrow{
    float: right;

bottom: 9rem;

position: absolute;

z-index: 3;

left: 74rem;
}
.partner__slider{
    padding: 4rem;
}
//Actualites
.header-wrap{
    position: static;
}
.posts{
    position: relative;

    top: 15rem;
}


 