
.toggleClass{
    display: none;
}
.menu-toggle{
    display: none;
}
.fa fa-bars{
    color: white;
}

@media screen and (max-width: 600px) {
    .menu-toggle{
        display: block;
        color: white;
    }
    .nav-menu.responsive a {
      float: none;
      display: none;
      text-align: left;
    }
    .nav-menu.responsive {
        position: relative;}
    
  }
.current_page_item:hover{
    color: black;
    font-weight: bold;
    border-bottom: solid 5px #ec6707;

}
.current_page_item{
    color: black;
    font-weight: bold;

    border-bottom: solid 5px #ec6707;
}
.h__button{
    background-color: $yelow;
    padding: 1rem;
    display: flex;
    float: right;
    margin-left: -6rem;
    position: absolute;
    margin-left: 57rem;
    margin-top: 0.5rem;
}