.feature_title::before{
    width: 55px;
    height: 6px;
    background-color: #ec6707;
    content:' ';    
    display: inline-block;
}
.feature_title{
    width: 100%;
    height: 65px;
    color: #000000;
    font-size: 40px;
    font-weight: bolder;
    /* Text style for ",  Le chal" */
}

.post__picto{
  width: 20rem ;
  height: 13rem ;
}
.post__card{
  background: white;
  width: 20rem;
  margin-inline-start: 10rem;
  margin-bottom: 2rem;
  height: 176px;
}
.post__title a{
    width: 236px;
    height: 18px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    padding: 0rem;
    margin: 0rem;
    position: relative;
    top: 1.5rem;
}
.post__date{
    width: 61px;
    height: 10px;
    color: #ec6707;
    font-family: "PT Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 56px;
}

.post__excerpt{
    width: 344px;
    height: 30px;
    color: #000000;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
padding: 1rem;
margin-top: 1rem;
margin-left: -1rem;
}
.post__img img{
    width: 370px;
height: 270px;
}
.post__button{
    width: 76px;
    height: 11px;
    color: #000000;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 19.59px;
    position: relative;
    top: 4rem;
    left: 12rem;
}
.post__button::after{
    content: '🠆';
    width: 76px;
    height: 11px;
    color: #000000;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 19.59px;
}
.post__last__button
{
display: flex;
padding: 1rem;
left: 74.4%;
position: relative;
text-align: center;
width: fit-content;
  background-color:$secondary-color;
text-align: center;
color: white;
font-size: 18px;
}
.post__last__button::after
{
content: '🠆';

color: white;
font-size: 18px;
}
//Actualite
.post__date_a{
  color: #ec6707 ;
  font-size: 16px ;
  line-height: 56.05px ;
}
.article__title a{
  width: 472px;
height: 63px;
line-height: 44.04px;
color: #000000 !important;
font-family: "PT Sans";
font-size: 40px;
font-weight: 700;
font-style: italic;
} 
.post__button_actualite{
  background-color: #000;
  padding: 1rem;
  color: white;
  width: 249px;
height: 60px;
}
.post__button_actualite::after{
  content: '🠆';
  background-color: #000;
  padding: 1rem;
  color: white;
}



@media screen and (max-width: 39.9375em){

.post__card {
  background: #fff;
  width: 20rem;
  -webkit-margin-start: 10rem;
  margin-inline-start: 1rem;
  margin-bottom: 2rem;
}
.posts_container {
  height: 101rem;
}
}
.post__date_a{
  color: #ec6707 ;
  font-size: 16px ;
  line-height: 56.05px ;
}