.act_orange-over {
    top: 150px;
    bottom: 567px;
    left: -42%;
    right: 48%;
    transform: skew(-35deg);
    position: absolute;
    z-index: 2;
    background-color: rgba(255,136,0,.85);
  }