.logos{
    display: flex;
    margin: auto;
}
  .f__links{
    list-style: none;
    display: inline-flex;
    width: 369px;
height: 12px;
color: #1d1d1b;
font-family: "Myriad Pro";
font-size: 14px;
font-weight: 400;
line-height: 23.75px;
text-transform: uppercase;
display: flex;
flex-direction: column;
margin: auto;
}
.f__links li{
    margin-top: 1rem;
}
.f__links a{
    padding-top: 1rem;
    color: #1d1d1b;  
}
.f__tiz{
    display: flex;
    justify-content: center;
    margin: 1rem;
}
#feature{
 color:red;
}
