@include breakpoint(small){
    .logo2{
        padding: 10px;
        margin: auto;
    }
}
.header__top{
    background-color: #ec6707;
}
.logo1{
    padding: 10px;
    margin-left: 20%;
}
.logo2{
    padding: 10px;
    margin-top: 14px;
}


.nav-menu{
    padding: 1rem;
  
}
  
.nav-menu ul{
    list-style: none;
    display: flex;
    color: white;
}
.nav-menu a{
    color: black;
    padding: 1rem;
}
.nav-menu a:active{
    color: black;
    font-weight: bold;
    border-bottom-color: $primary-color;

}
@media screen and (max-width: 600px) {
    .slider{
    display: none;
    }
   
  }
  
  @media screen and (max-width: 600px) {
   
    .nav-menu.responsive a {
      float: none;
      display: none;
      text-align: left;
    }
    .nav-menu.responsive {
        position: relative;}
    .nav-menu.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
.current_page_item:hover{
    color: black;
    font-weight: bold;
    border-bottom: solid 5px #ec6707;

}
.current_page_item{
    color: black;
    font-weight: bold;
    border-bottom: solid 5px #ec6707;
}
.h__button{
    background-color: $yelow;
    padding: 1rem;
    display: flex;
    float: right;
    margin-left: -6rem;
    position: absolute;
    margin-left: 57rem;
    margin-top: 0.5rem;
}
@supports (-webkit-appearance:none) {  
    .orange-over {
    top: 149px;
    bottom: 442px;
} }

@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
    .orange-over {
        top: 149px;
        bottom: 442px;
    } 
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
    .orange-over {
        top: 236px;
        bottom: 357px;
        
    } 
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .orange-over {
        top: 149px;
        bottom: 442px;
    } 
}

.orange-over {
    top: 236px;
    bottom: 357px; 
    left: -42%;
    right: 34%;
    transform: skew(-35deg);
    position: absolute;
    z-index: 2;
    background-color: rgba(255,136,0,.85);
  }
  .single-item{
    position: relative;
    background-size: cover;
    background-position: 50%;
  }